<?xml version="1.0" encoding="utf-8"?>
<!--
     Hibernate configuration file.
     Copyright (c) 2014 University of Oxford
-->
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.Alert"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.Country"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.DiseaseGroup"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.DiseaseOccurrence"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.Expert"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.Feed"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.HealthMapCountry"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.HealthMapDisease"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.Location"/>
        <mapping class="uk.ac.ox.zoo.seeg.abraid.mp.common.domain.Provenance"/>
    </session-factory>
</hibernate-configuration>
