<?xml version="1.0" encoding="UTF-8"?>
<!--
    Spring security beans specification.
    Copyright (c) 2014 University of Oxford
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <import resource="modeloutput-security-properties.xml" />

    <security:http realm="ABRAID-MP: ModelOutputHandler API" create-session="stateless" authentication-manager-ref="apiAuthenticationManager">
        <security:intercept-url pattern="/**" access="ROLE_API" />
        <security:http-basic />
    </security:http>

    <bean id="apiAuthenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <constructor-arg name="providers" ref="apiDaoAuthenticationProvider" />
    </bean>

    <bean id="apiDaoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="apiUserDetailsService"/> <!-- Expects fixed username 'api' -->
        <property name="passwordEncoder" ref="passwordEncoder" /> <!-- Uses http basic password to hold the API key. Defined in common/beans-web via applicationContext -->
    </bean>

    <bean id="apiUserDetailsService" class="uk.ac.ox.zoo.seeg.abraid.mp.common.web.ApiUserDetailsServiceImpl" >
        <constructor-arg name="apiKeyHash" value="${api.key.hash}" />
    </bean>
</beans>