<?xml version="1.0" encoding="UTF-8"?>
<!--
      Contains all beans in this module.
      Copyright (c) 2014 University of Oxford
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:uk/ac/ox/zoo/seeg/abraid/mp/common/config/beans.xml"/>


    <bean id="geoserverRestService" class="uk.ac.ox.zoo.seeg.abraid.mp.modeloutputhandler.geoserver.GeoserverRestService" autowire="constructor">
        <constructor-arg name="geoserverUrl" value="${geoserver.root.url}" />
        <constructor-arg name="templateConfig">
            <bean class="freemarker.template.Configuration" />
        </constructor-arg>
    </bean>

    <bean id="rasterDir" class="java.io.File">
        <constructor-arg value="${abraid.base.dir}/results/rasters" />
    </bean>
    <bean id="mainHandler" class="uk.ac.ox.zoo.seeg.abraid.mp.modeloutputhandler.web.MainHandler" autowire="constructor" />


    <bean id="handlersAsyncWrapper" class="uk.ac.ox.zoo.seeg.abraid.mp.modeloutputhandler.web.HandlersAsyncWrapper" autowire="constructor" destroy-method="cleanup"/>
    <bean id="diseaseExtentGenerationHandler" class="uk.ac.ox.zoo.seeg.abraid.mp.modeloutputhandler.web.DiseaseExtentGenerationHandler" autowire="constructor"/>
    <bean id="diseaseOccurrenceHandler" class="uk.ac.ox.zoo.seeg.abraid.mp.modeloutputhandler.web.DiseaseOccurrenceHandler" autowire="constructor"/>

</beans>
