<?xml version="1.0" encoding="UTF-8"?>
<!--
    Spring security beans specification.
    Copyright (c) 2014 University of Oxford
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder order="0" ignore-resource-not-found="false" ignore-unresolvable="true" location="WEB-INF/api.properties" />

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <!-- API realm -->
    <security:http realm="ABRAID-MP: ModelWrapper API" pattern="/model/**" create-session="stateless" authentication-manager-ref="apiAuthenticationManager">
        <security:intercept-url pattern="/**" access="ROLE_API" />
        <security:http-basic />
    </security:http>

    <bean id="apiAuthenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <property name="providers" ref="apiDaoAuthenticationProvider" />
    </bean>

    <bean id="apiDaoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="apiUserDetailsService"/> <!-- Expects fixed username 'api' -->
        <property name="passwordEncoder" ref="passwordEncoder" /> <!-- Uses http basic password to hold the API key -->
    </bean>


    <bean id="apiUserDetailsService" class="uk.ac.ox.zoo.seeg.abraid.mp.common.web.ApiUserDetailsServiceImpl" >
        <constructor-arg name="apiKeyHash" value="${api.key.hash}" />
    </bean>

    <!-- Admin site realm -->
    <security:http realm="ABRAID-MP: ModelWrapper" authentication-manager-ref="adminAuthenticationManager">
        <security:intercept-url pattern="/**" access="ROLE_USER" />
        <security:http-basic />
    </security:http>

    <bean id="adminAuthenticationManager" class="org.springframework.security.authentication.ProviderManager">
        <property name="providers" ref="adminDaoAuthenticationProvider" />
    </bean>

    <bean id="adminDaoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="adminUserDetailsService"/>
        <property name="passwordEncoder" ref="passwordEncoder" />
    </bean>

    <bean id="adminUserDetailsService" class="uk.ac.ox.zoo.seeg.abraid.mp.modelwrapper.web.UserDetailsServiceImpl" autowire="constructor" />
</beans>