html,body
{
    height:100%;
}

#wrap
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

#main
{
    overflow:auto;
    padding-bottom:50px;
}

.jumbotron > .container
{
    padding-top: 50px;
}

.footer
{
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear:both;
    padding-top:20px;
    background-color:rgb(51, 51, 51);

}
.footer > .container > .links > a, p
{
    color:rgb(180, 180, 180);
    display:inline;
}
.footer > .container > .links > a:link, a:visited {
    color: rgb(180, 180, 180);
    background-color: rgb(51, 51, 51);
    text-decoration:none;
}

.footer > .container > .links > a:hover {
    color: #ffffff;
    background-color: rgb(51, 51, 51);
    text-decoration:none;
}
.copyright
{
    float: right;
}
.links
{
    float: left;
}
#DEMap {
    height:500px;
    width:1000px;
    overflow:hidden;
}
#OPMap {
    height:500px;
    width:1000px;
    overflow:hidden;
}













