<?xml version="1.0" encoding="UTF-8"?>
<!--
      Contains all beans in this module.
      Copyright (c) 2014 University of Oxford
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- This ensures that if a file named dataacquisition.properties exists in the current directory, it will
         override the default properties specified in the classpath files -->
    <context:property-placeholder location="classpath:uk/ac/ox/zoo/seeg/abraid/mp/common/config/common.properties,
                                            classpath:uk/ac/ox/zoo/seeg/abraid/mp/dataacquisition/config/dataacquisition.properties,
                                            file:dataacquisition.properties"
                                  ignore-resource-not-found="true"/>

    <import resource="classpath:uk/ac/ox/zoo/seeg/abraid/mp/common/config/beans.xml"/>

    <!-- Web service beans -->
    <bean id="geoNamesWebService" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.geonames.GeoNamesWebService" autowire="constructor">
        <property name="rootUrlGetJSON" value="${geonames.rootUrlGetJSON}"/>
        <property name="username" value="${geonames.username}"/>
        <property name="usernameParameterName" value="${geonames.usernameParameterName}"/>
        <property name="geoNameIdParameterName" value="${geonames.geoNameIdParameterName}"/>
    </bean>

    <bean id="healthMapWebService" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.healthmap.HealthMapWebService" autowire="constructor">
        <property name="rootUrl" value="${healthmap.rootUrl}"/>
        <property name="authorizationCode" value="${healthmap.authorizationCode}"/>
        <property name="stripHtml" value="${healthmap.stripHtml}"/>
        <!-- If specified, this value must have the format "yyyy-MM-dd HH:mm:ssZ" e.g. "2014-04-21 15:29:03+0100" -->
        <property name="defaultStartDate" value="${healthmap.defaultStartDate}"/>
        <!-- Note the default value of this property, after the colon in the value -->
        <property name="defaultStartDateDaysBeforeNow" value="${healthmap.defaultStartDateDaysBeforeNow:7}"/>
        <property name="endDateDaysAfterStartDate" value="${healthmap.endDateDaysAfterStartDate}"/>
        <property name="authorizationParameterName" value="${healthmap.authorizationParameterName}"/>
        <property name="startDateParameterName" value="${healthmap.startDateParameterName}"/>
        <property name="endDateParameterName" value="${healthmap.endDateParameterName}"/>
        <property name="stripHtmlParameterName" value="${healthmap.stripHtmlParameterName}"/>
    </bean>

    <bean id="modelWrapperWebService" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.model.ModelWrapperWebService" autowire="constructor">
        <property name="rootUrl" value="${modelwrapper.rootUrl}"/>
    </bean>

    <!-- HealthMap data processing beans -->
    <bean id="healthMapAlertConverter" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.healthmap.HealthMapAlertConverter" autowire="constructor"/>
    <bean id="healthMapDataAcquisition" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.healthmap.HealthMapDataAcquisition" autowire="constructor"/>
    <bean id="healthMapDataConverter" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.healthmap.HealthMapDataConverter" autowire="constructor"/>
    <bean id="healthMapLocationConverter" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.healthmap.HealthMapLocationConverter" autowire="constructor"/>
    <bean id="healthMapLookupData" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.healthmap.HealthMapLookupData" autowire="constructor"/>

    <!-- Quality control beans -->
    <bean id="qcManager" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.qc.QCManager" autowire="constructor"/>
    <bean id="qcLookupData" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.qc.QCLookupData" autowire="constructor"/>

    <!-- Post-quality control beans -->
    <bean id="postQcManager" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.qc.PostQCManager" autowire="constructor"/>

    <!-- Disease extent generation beans -->
    <bean id="diseaseExtentGenerator" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.diseaseextent.DiseaseExtentGenerator" autowire="constructor"/>
    <bean id="singleDiseaseExtentGenerator" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.diseaseextent.SingleDiseaseExtentGenerator" autowire="constructor"/>

    <bean id="configurationService" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.config.ConfigurationServiceImpl">
        <constructor-arg name="basicProperties" value="${internal.properties.fileLocation}"/>
    </bean>

    <!-- Weightings calculation beans -->
    <bean id="weightingsCalculator" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.weightings.WeightingsCalculator" autowire="constructor"/>

    <!-- Model run requesting beans -->
    <bean id="modelRunRequester" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.model.ModelRunRequester" autowire="constructor"/>

    <!-- Main bean (program entry point) -->
    <bean id="main" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.Main" autowire="constructor"/>

</beans>
