<?xml version="1.0" encoding="UTF-8"?>
<!--
      Contains all beans in this module.
      Copyright (c) 2014 University of Oxford
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder order="1" ignore-unresolvable="true" ignore-resource-not-found="true" location="
        classpath:uk/ac/ox/zoo/seeg/abraid/mp/common/config/common.properties,
        classpath:uk/ac/ox/zoo/seeg/abraid/mp/dataacquisition/config/dataacquisition.properties" />

    <import resource="classpath:uk/ac/ox/zoo/seeg/abraid/mp/common/config/beans.xml"/>

    <!-- Service beans -->
    <bean id="dataAcquisitionService" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.service.DataAcquisitionServiceImpl" autowire="constructor"/>

    <!-- Web service beans -->
    <bean id="geoNamesWebService" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.healthmap.geonames.GeoNamesWebService" autowire="constructor">
        <property name="rootUrlGetJSON" value="${geonames.rootUrlGetJSON}"/>
        <property name="username" value="${geonames.username}"/>
        <property name="usernameParameterName" value="${geonames.usernameParameterName}"/>
        <property name="geoNameIdParameterName" value="${geonames.geoNameIdParameterName}"/>
    </bean>

    <bean id="healthMapWebService" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.healthmap.HealthMapWebService" autowire="constructor">
        <property name="rootUrl" value="${healthmap.rootUrl}"/>
        <property name="authorizationCode" value="${healthmap.authorizationCode}"/>
        <property name="stripHtml" value="${healthmap.stripHtml}"/>
        <!-- If specified, this value must have the format "yyyy-MM-dd HH:mm:ssZ" e.g. "2014-04-21 15:29:03+0100" -->
        <property name="defaultStartDate" value="${healthmap.defaultStartDate}"/>
        <!-- Note the default value of this property, after the colon in the value -->
        <property name="defaultStartDateDaysBeforeNow" value="${healthmap.defaultStartDateDaysBeforeNow:7}"/>
        <property name="endDateDaysAfterStartDate" value="${healthmap.endDateDaysAfterStartDate}"/>
        <property name="authorizationParameterName" value="${healthmap.authorizationParameterName}"/>
        <property name="startDateParameterName" value="${healthmap.startDateParameterName}"/>
        <property name="endDateParameterName" value="${healthmap.endDateParameterName}"/>
        <property name="stripHtmlParameterName" value="${healthmap.stripHtmlParameterName}"/>
    </bean>

    <!-- HealthMap data acquisition beans -->
    <bean id="healthMapAlertConverter" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.healthmap.HealthMapAlertConverter" autowire="constructor"/>
    <bean id="healthMapDataAcquirer" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.healthmap.HealthMapDataAcquirer" autowire="constructor"/>
    <bean id="healthMapDataConverter" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.healthmap.HealthMapDataConverter" autowire="constructor"/>
    <bean id="healthMapLocationConverter" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.healthmap.HealthMapLocationConverter" autowire="constructor"/>
    <bean id="healthMapLookupData" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.healthmap.HealthMapLookupData" autowire="constructor"/>

    <!-- CSV data acquisition beans -->
    <bean id="csvDataAcquirer" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.csv.CsvDataAcquirer" autowire="constructor"/>
    <bean id="csvDiseaseOccurrenceConverter" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.csv.CsvDiseaseOccurrenceConverter" autowire="constructor"/>
    <bean id="csvLookupData" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.csv.CsvLookupData" autowire="constructor"/>

    <!-- General data acquisition beans -->
    <bean id="diseaseOccurrenceDataAcquirer" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.acquirers.DiseaseOccurrenceDataAcquirer" autowire="constructor"/>

    <!-- Quality control beans -->
    <bean id="qcManager" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.qc.QCManager" autowire="constructor"/>
    <bean id="qcLookupData" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.qc.QCLookupData" autowire="constructor"/>
    <bean id="postQcManager" class="uk.ac.ox.zoo.seeg.abraid.mp.dataacquisition.qc.PostQCManager" autowire="constructor"/>

</beans>
